/* Main container */
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Top ruler */
  .ruler {
    background-color: #f0f0f0;
    position: fixed;
    z-index: 10;
  }
  
  .top-ruler {

    padding-left: 30px;
    height: 30px;
  }
  
  .left-ruler {
    padding-top: 30px;
    width: 30px;
  }
  
  /* Canvas container */
  .canvas-container {
    padding-top: 30px;
    padding-left: 30px;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  